@page "/testpage"

@using tapeStream.Shared.Data
@using tapeStream.Client.Managers
@using MatBlazor;

@using tapeStream.Client.Components.HighCharts
@using tapeStream.Client.Components



@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@*<div id="resizer" style="min-width: 350px; min-height: 200px">
        <div id="inner-resizer">
            <div id="container">
            </div>
        </div>
    </div>*@



<MatAccordion Multi="true">

    @*<MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Stats</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <Stats />
            </MatExpansionPanelDetails>
        </MatExpansionPanel>*@

    @*<MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Surface</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <StackedColumns3DSurface bookData="@bookColData" symbol="@symbol" />
            </MatExpansionPanelDetails>
        </MatExpansionPanel>

        <MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Column</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <StackedColumns3D bookData="@bookColData" />
            </MatExpansionPanelDetails>
        </MatExpansionPanel>*@


    <div style="display:none">
        <ChartConfigure symbol="@symbol" title="Configure Columns" />
        <SurfaceChartConfigurator symbol="@symbol" title="Configure Surface" />

    </div>
   <MatExpansionPanel Expanded="true">
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>
                <div style="background-color:#F0F0F0;padding:10px 0 0 0">
                    <HubMonitor clock="@clock" dictTopicCounts="@dictTopicCounts" logTopics="@logTopics" />
                </div>
            </MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails Style="width:120%;padding-top:0 !important">
            <div class="mat-layout-grid" style="width:110%;padding:0 !important ">
                <div class="mat-layout-grid-inner" style="width:100%;padding:0 !important">
                    @*<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" />*@
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                        @*<LinesChart />*@
                        @*<h1>@(ratioFrames.Count.ToString())</h1>*@
                        <RatiosChart ratioFrames="@ratioFrames" allRatioFrames="@allRatioFrames" />
                        <RatiosChart ratioFrames="@ratioFrames" showPrice="false" initialBuysField="buysBelow" />
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6 rightside">
                        @*<LinesChart />*@
                        <RatiosChart ratioFrames="@ratioFrames" showPrice="false" initialBuysField="buysPriceCount" />
                        <RatiosChart ratioFrames="@ratioFrames" showPrice="false" initialBuysField="asksBookSizes" />
                        <RatiosChart ratioFrames="@ratioFrames" showPrice="false" initialBuysField="buysAbove" />
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <BookColumnsChart symbol="@symbol" bookData="@bookColData" />
                    </div>

                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>



</MatAccordion>


<style>
    .rightside {
        position: relative;
        right: 13%;
    }


    .mdc-layout-grid__inner, .mat-layout-grid-inner {
        display: grid;
        margin: 0;
        grid-gap: 4px;
        /* grid-gap: var(--mdc-layout-grid-gutter-desktop, 4px); */
        grid-template-columns: repeat(12, minmax(0, .072fr));
    }
</style>

@code {
    string symbol = "QQQ";


}
