@page "/"

@using tapeStream.Shared.Data
@using tapeStream.Client.Managers
@using MatBlazor;

@using tapeStream.Client.Components.HighCharts
@using tapeStream.Client.Components

@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@*<div id="resizer" style="min-width: 350px; min-height: 200px">
        <div id="inner-resizer">
            <div id="container">
            </div>
        </div>
    </div>*@




<MatAccordion Multi="true">

    @*<MatExpansionPanel>
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader>Stats</MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <Stats />
            </MatExpansionPanelDetails>
        </MatExpansionPanel>*@

    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Surface</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <StackedColumns3DSurface bookData="@bookColData" symbol="@symbol" />
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Column</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <StackedColumns3D bookData="@bookColData" />
        </MatExpansionPanelDetails>
    </MatExpansionPanel>

    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Flat</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                        <BookColumnsChart symbol="@symbol" bookData="@bookColData" />
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4" />
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                        <LinesChart />
                    </div>
                </div>
            </div>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>


@code {
    string symbol = "QQQ";


}
