@page "/Simulator"
@using tapeStream.Server.Data
@using tapeStream.Server.Components
@using tapeStream.Server.Data.classes


<div class="flex-container">


    <RadzenAccordion Style="background-color:transparent;width:100%">
        <Items>
            <RadzenAccordionItem Text="TDA Streaming Hub Simulator" Icon="waves" Style="width:100%" Selected="true">
                <div style="width:600px;justify-content: center;">

                    <RadzenCard Style="width:600px;background-color:gainsboro">
                        <div class="grid-container">
                            <h3 style="text-align:left;grid-column-end: span 2">


                                <RadzenIcon Icon="settings" />&nbsp;Simulator Settings
                            </h3>
                            <span>Symbol: </span>
                            <RadzenLabel Text="@symbol" Style="font-weight:600;font-size:larger;position:relative;top:0px" />

                            <span>Available Dates: </span>
                            <RadzenDropDown TValue="string"
                                            Data="@lstFeedDates"
                                            Change="@(args => FeedDateChange(args, "DropDown", symbol))" />
                            <span>Start Time:  </span>


                            <RadzenDropDown TValue="string"
                                            @bind-Value="@startTime"
                                            Data="@lstFeedTimes"
                                            Disabled="@(simulatorSettings.runDateDate.Date == new DateTime().Date)"
                                            Change="@(args => StartTimeChange(args, "DropDown"))" />
                            <span>End Time: </span>
                            <RadzenDropDown TValue="string"
                                            @bind-Value="@endTime"
                                            Data="@lstFeedTimes"
                                            Change="@(args => EndTimeChange(args, "DropDown"))"
                                            Disabled="@(simulatorSettings.runDateDate.Date == new DateTime().Date)" />

                            <span>Rebuild AllRatioFrames: </span>
                            <RadzenCheckBox TValue="bool"
                                            @bind-Value="@simulatorSettings.rebuildAllRatioFrames" />

                            <span>Clock Delay: </span>
                            <RadzenNumeric TValue="int"
                                            @bind-Value="@simulatorSettings.clockDelay" Min="10" Max="10000" />
                        </div>

                    </RadzenCard>

                </div>
            </RadzenAccordionItem>
        </Items>
    </RadzenAccordion>

</div>
<RadzenAccordion Style="background-color:transparent;width:100%">
    <Items>
        <RadzenAccordionItem Text="Select Symbol" Icon="settings" Style="width:100%;zoom:0.75;padding-bottom:10px" >
            <Radzen.Blazor.RadzenCard>
                <span>NASDAQ Symbol:&nbsp; <Radzen.Blazor.RadzenTextBox @bind-Value="@symbol" /></span>
            </Radzen.Blazor.RadzenCard>
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
<TDAStreamer simulate="true" simulatorSettings="@simulatorSettings" />


<br />

@code {
}
<style>
    .flex-container {
        display: flex;
        margin-bottom: 5px;
        /*        zoom: 0.8;
    */
    }

    .grid-container {
        display: grid;
        grid-row-gap: 5px;
    }

    .material-icons-label {
        font-weight: normal;
        font-size: 1.25rem;
    }

    .ui-spinner input[type='number'], .ui-spinner input[type='text'] {
        /*-moz-appearance: textfield;
        width: 100%;
        border: none;*/
        /* background-color: transparent; */
        /*line-height: 1.5rem;
        text-align: inherit;
        padding: 1px 12px 1px 1px;*/
        color: black;
    }
</style>