@*<h3>ClockGauge</h3>*@

@using tapeStream.Client.Components.HighCharts.Base
@using MatBlazor
@using tapeStream.Shared.Data

@inject Microsoft.JSInterop.IJSRuntime jsruntime;
@inject HttpClient _client
<div style="zoom:0.43">
    <HighChart id="@id"
               chartJson="@chartJson"
               updateMode="@HighChart.DataUpdateMode.Replace"
               chartJsFilename="@chartJsFilename"
               redrawChart="@redraw" />
</div>

<style>
    .highcharts-root {
        position: relative;
        right: 260px
    }
</style>
@code {

}
