@*<h3>LinesChart</h3>*@


@using tapeStream.Client.Components.HighCharts.Base
@using MatBlazor
@using tapeStream.Shared.Data
@using tapeStream.Shared

@inject Microsoft.JSInterop.IJSRuntime jsruntime
@inject HttpClient _client

<div>
    <h6 style="display:inline-block;color:#e7934c;cursor:pointer" @onclick="@Dialog_Open"> @(chartTitle())</h6>
    <MatIconButton Icon="settings" OnClick="@Dialog_Open" Raised="true" Style="color:#e7934c;position: relative;top:5px;right:5px"> </MatIconButton>
</div>
<figure class="highcharts-figure">
    <div id="container" style="zoom:0.8">
        <HighChart id="@id"
                   chartJson="@chartJson"
                   chartSeriesJson="@chartSeriesJson"

                   updateMode="@HighChart.DataUpdateMode.Append"
                   chartJsFilename="@chartJsFilename"

                   redrawChart="@redraw" />
    </div>
</figure>



<MatDialog @bind-IsOpen="@dialogIsOpen">
    @*<MatDialogTitle>Hi @name</MatDialogTitle>*@
    <MatDialogContent>
        <MatCard style="margin-bottom:10px">

            @(string.Join(" ", buysField.SplitCamelCase().Split(" ").Skip(1)))
            <MatChipSet Filter="true" @bind-SelectedChips="selectedBuysChips" Choice="true">
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.buysTradeSizes"></MatChip>
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.asksBookSizes"></MatChip>
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.buysSumSizes"></MatChip>
                <MatChip Label="%" IsCheckable="true" Value="@CONSTANTS.buysRatio"></MatChip>
                <MatChip Label="%2" IsCheckable="true" Value="@CONSTANTS.buysAltRatio"></MatChip>
                <MatChip Label="<>" IsCheckable="true" Value="@CONSTANTS.buysInSpread"></MatChip>
                <MatChip Label=">" IsCheckable="true" Value="@CONSTANTS.buysAbove"></MatChip>
                <MatChip Label="<" IsCheckable="true" Value="@CONSTANTS.buysBelow"></MatChip>
                <MatChip Label="#" IsCheckable="true" Value="@CONSTANTS.buysPriceCount"></MatChip>
                <MatChip Label="r" IsCheckable="true" Value="@CONSTANTS.buysR"></MatChip>
                <br />
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.buysSummedInSpreadLong"></MatChip>
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.buysSummedInSpreadMed"></MatChip>
                <MatChip Label="∑" IsCheckable="true" Value="@CONSTANTS.buysSummedInSpreadShort"></MatChip>
                <MatChip Label="%" IsCheckable="true" Value="@CONSTANTS.buysSummedAboveBelowLong"></MatChip>
                <MatChip Label="%2" IsCheckable="true" Value="@CONSTANTS.buysSummedAboveBelowMed"></MatChip>
                <MatChip Label="<>" IsCheckable="true" Value="@CONSTANTS.buysSummedAboveBelowShort"></MatChip>

                <MatChip Label=">" IsCheckable="true" Value="@CONSTANTS.sellsSummedInSpreadLong"></MatChip>
                <MatChip Label="<" IsCheckable="true" Value="@CONSTANTS.sellsSummedInSpreadMed"></MatChip>
                <MatChip Label="#" IsCheckable="true" Value="@CONSTANTS.sellsSummedInSpreadShort"></MatChip>
                <MatChip Label="r" IsCheckable="true" Value="@CONSTANTS.sellsSummedAboveBelowLong"></MatChip>
                <MatChip Label="#" IsCheckable="true" Value="@CONSTANTS.sellsSummedAboveBelowMed"></MatChip>
                <MatChip Label="r" IsCheckable="true" Value="@CONSTANTS.sellsSummedAboveBelowShort"></MatChip>
            </MatChipSet>
        </MatCard>
        <span>
            @(ProcessChips())
        </span>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { dialogIsOpen = false; })">Cancel</MatButton>
        <MatButton OnClick="@Dialog_OkClick">OK</MatButton>
    </MatDialogActions>
</MatDialog>

<style>
    /*    #LinesChart, .highcharts-container {
            overflow: visible !important;
        }

        .highcharts-root {
            position: relative;
            right: 0px !important;
        }*/

    .mat-card, .mdc-card {
        width: 110%;
    }
</style>
@code {

}
