@*<h3>Surface.StackedColumns3DSurface</h3>*@
@using tapeStream.Client.Components.HighCharts
@using tapeStream.Client.Components.HighCharts.Base
@using tapeStream.Shared.Data
@using tapeStream.Client.Managers


@*@name;*@

<style>
    #container {
        /*height: 80vh;*/
        /*min-width: 310px;
        max-width: 100hw;*/
        /*margin: 0 auto;*/
    }
</style>

<div style="width:100hw">
    <div style="width:auto;display:flex;zoom:.75">
        <MatChipSet Filter="true" @bind-SelectedChips="selectedChips" Choice="true">
            <MatChip Label="Front" IsCheckable="true" Value="0"></MatChip>
            <MatChip Label="Top" IsCheckable="true" Value="1"></MatChip>
            <MatChip Label="Left" IsCheckable="true" Value="2"></MatChip>
            <MatChip Label="Right" IsCheckable="true" Value="3"></MatChip>
            <MatChip Label="Back" IsCheckable="true" Value="4"></MatChip>
            <MatChip Label="Flip" IsCheckable="true" Value="5"></MatChip>
            <MatChip Label="Return" IsCheckable="true" Value="6"></MatChip>
        </MatChipSet>
        <span><RadzenButton Click="ResetXAxis">Reset X-Axis</RadzenButton></span>
        <span>
            Height: &nbsp;[@Surface3dManager.height]&nbsp;

            <RadzenNumeric Style="zoom:1.25;margin:0" Min="300" Max="1500" Step="100" @bind-Value=@Surface3dManager.height timerClock />
        </span>
        <span>
            Redraw:&nbsp;
            <RadzenCheckBox @bind-Value="@SurfaceChartConfigurator.redrawChart" Style="zoom:1.25;width:50px"></RadzenCheckBox>
        </span>
        <div>
            <span style="visibility:hidden">
                @foreach (var chip in selectedChips ?? new MatChip[0])
                {

                    @if ((chip.IsSelected))
                    {
                        int n = Convert.ToInt16(chip.Value);
                        SurfaceChartConfigurator.chipValue = n;
                    }
                }
            </span>
        </div>
    </div>
</div>

<div style="display:flex">
    <SurfaceChartConfigurator title="" symbol="@symbol" />
    <div style="float:right;display:inline-flex">
        <MatPaper Elevation="24" style="background-color:@bidsLtColor;margin-left:10px"><h3>@(TDAChart.avgLtBuys.ToString("n0"))</h3> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@asksLtColor;"><h3>@(TDAChart.avgLtSells.ToString("n0"))</h3> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@bidsColor;"><h3>@(TDAChart.avgBuys.ToString("n0"))</h3> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@asksColor;"><h3>@(TDAChart.avgSells.ToString("n0"))</h3> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@bidsColor;"><h3>+@(TDAChart.countBuysUp.ToString("n0"))</h3> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@asksColor;"><h3>+@(TDAChart.countSellRatioUp.ToString("n0"))</h3> </MatPaper>
    </div>  
    @*<MatPaper Elevation="@avgLtBuys" style="background-color:@bidsLtColor;"><h3>24</h3> </MatPaper>
        <MatPaper Elevation="@avgLtBuys" style="background-color:@bidsLtColor;"><h3>24</h3> </MatPaper>*@

</div>
<div style="display:flex">
    <div style="float:right;display:inline-flex">
        <MatPaper Elevation="24" style="background-color:@bidsLtColor;margin-left:10px"><h4>@(TDAChart.avgLtBuysRatio.ToString("n2"))</h4> </MatPaper>
        @*<MatPaper Elevation="24" style="background-color:@asksLtColor;"><h4>@(TDAChart.avgLtSellsRatio.ToString("n2"))</h4> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@bidsColor;"><h4>@(TDAChart.avgBuysRatio.ToString("n2"))</h4> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@asksColor;"><h4>@(TDAChart.avgSellsRatio.ToString("n2"))</h4> </MatPaper>*@
        <MatPaper Elevation="24" style="background-color:@bidsColor;"><h4>+@(TDAChart.countBuysRatioUp.ToString("n0"))</h4> </MatPaper>
        <MatPaper Elevation="24" style="background-color:@asksColor;"><h4>+@(TDAChart.countSellsRatioUp.ToString("n0"))</h4> </MatPaper>
    </div>
    @*<MatPaper Elevation="@avgLtBuys" style="background-color:@bidsLtColor;"><h3>24</h3> </MatPaper>
        <MatPaper Elevation="@avgLtBuys" style="background-color:@bidsLtColor;"><h3>24</h3> </MatPaper>*@

</div>

@*<div class="resizer" style="min-width: 350px; min-height: 200px">
    <div id="inner-resizer">
        <div id="container">*@
            <div>
                @* Injects the data and redraws the chart *@
                <HighChart id="@id"
                           chartJson="@chart3Djson"
                           chartSeriesJson="@chartSeriesJson"
                           updateMode="@HighChart.DataUpdateMode.Replace"
                           chartJsFilename="@chartJsFilename"
                           redrawChart="SurfaceChartConfigurator.redrawChart" />

            </div>
        @*</div>
    </div>
</div>*@

@*</div>*@
<style>

    span {
        display: inline-flex;
    }

    matpaper {
        text-align: center;
        margin: 5px 10px 5px 0px;
        height: 52px;
    }

    h3 {
        padding: 10px;
        color: #EEEEEE;
    }

    .mat-layout-grid {
        padding: 0;
    }


</style>

@code
{


}