@*<h3>SurfaceChartConfigurator</h3>*@
<RadzenAccordion Style="background-color:transparent">
    <Items>
        <RadzenAccordionItem Text="@showTitle" Icon="account_balance_wallet" Style="display:inline-flex">

            <div style="display:flex">
                <MatCard>
                    Seconds to Aggregate: &nbsp;[@seconds]&nbsp;
                    <b style="display:flex">
                        <RadzenNumeric Min="0" Max="60" @bind-Value=@seconds timerClock />
                    </b>
                </MatCard>
                <MatCard>
                    Alpha:
                    <RadzenNumeric Min="-180" Max="180" Step="10" @bind-Value=@alpha Style="" />

                    Beta: 
                    <RadzenNumeric Min="-180" Max="180" Step="10" @bind-Value=@beta timerClock />
                </MatCard>
                <MatCard>
                    Chart Depth: 
                    <RadzenNumeric Min="0" Max="6000" Step="10" @bind-Value=@chartDepth timerClock />
      
                    Series Depth: 
                    <RadzenNumeric Min="0" Max="100" Step="10" @bind-Value=@seriesDepth timerClock />
                </MatCard>
                @*<MatCard>
                    Flat Map: 
                    <RadzenCheckBox @bind-Value=@isFlat Style="position:relative;top:8px;margin:10px" />
 
                    Time &amp; Sales Only: 
                    <RadzenCheckBox @bind-Value=@isTimeSalesOnly Style="position:relative;top:8px;margin:10px" />
                </MatCard>
                <MatCard>
                    Max # of Prices:&nbsp;
                    <RadzenNumeric @bind-Value="@xAxisMaxCategories" TTValue="int" Min="10" Max="600" Step="5" Style="margin:10px;width:100px"></RadzenNumeric>
                </MatCard>*@
                <MatCard>
                    Max Y-Axis:&nbsp;
                    <RadzenNumeric @bind-Value="@yAxisMax" TValue="int" Min="0" Max="100000" Step="5000" Style="margin:10px;width:100px"></RadzenNumeric>
      
                    Auto Max:&nbsp;
                    <RadzenCheckBox @bind-Value="@yAxisMaxAutoReset" Style="margin:10px"></RadzenCheckBox>
                </MatCard>
                <MatCard>
                    Short / Long Seconds:&nbsp;
                    <RadzenNumeric @bind-Value="@shortSeconds" TValue="int" Min="0" Max="120" Step="5" Style="margin:10px;width:100px"></RadzenNumeric>
                    <RadzenNumeric @bind-Value="@longSeconds" TValue="int" Min="0" Max="3600" Step="10" Style="margin:10px;width:100px"></RadzenNumeric>
                </MatCard>
            </div>



        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
<style>
    .ui-inputtext {
        color: #333;
        font-weight: 800;
        font-size: large;
    }

    .material-icons-label {
        width: 100%;
    }

    .ui-spinner.ui-widget {
        width: 100px;
        position: relative;
/*        top: 8px;
*/        margin: 10px;
/*        zoom:1.25;
*/    }

    .span {
        color: #333;
        display:  inline-grid;
        grid-column-gap: 10px;
    }

    .ui-accordion-toggle-icon.pi  {
        margin-right: 2px;
        padding: 0px;
    }

    .material-icons {
        margin-right: 5px;
        padding: 0px;
    }

    .mdc-card {
        background-color: gainsboro;
        margin-right: 10px;
        padding: 10px;
        zoom: 0.75;
    }

/*    .mdc-chip__checkmark-svg {
        position: relative;
        bottom: 10px;
    }*/

/*    .pi {
        vertical-align: top;
        font-size: 2rem;
    }*/
</style>
@code {

}
