@code {

    string symbol = "QQQ";

}
<style>
    .grid-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
        /*        grid-template-columns: auto auto ;
    */
    }
</style>
<div class="grid-container">

   
    <div class="flex-container">
        <div>
            <PrintLinesGauge___Copy symbol="@symbol" weight="1"  />
        </div>
        <PrintArcGaugeChart symbol="@symbol" weight="1" />
    </div>
    <div class="flex-container">
        <PrintPieGauge isPrintsSize="true" seconds="600" symbol="@symbol" />
        <PrintPieGauge isPrintsSize="true" seconds="240" symbol="@symbol" />
        <PrintPieGauge isPrintsSize="true" seconds="120" symbol="@symbol" />
        <PrintPieGauge isPrintsSize="true" seconds="60" symbol="@symbol" />

        <PrintPieGauge isPrintsSize="true" seconds="30" symbol="@symbol" />
        <PrintPieGauge isPrintsSize="true" seconds="10" symbol="@symbol" />
        <PrintPieGauge isPrintsSize="true" seconds="5" symbol="@symbol" />
    </div>



    <!--<div class="grid-item">
        <BookColumnsChart isPrintsSize="false" seconds="5" symbol="@symbol" />
    </div>-->
    @*<div class="grid-item">
            <SyncfusionStackedColumnChart seconds="15" symbol="@symbol" />
        </div>*@
    <!--<div>
    </div>-->
    @*<div class="flex-container" style="height:200px">
            <BookPieChart seconds="240" symbol="@symbol" />
            <BookPieChart seconds="120" symbol="@symbol" />
            <BookPieChart seconds="60" symbol="@symbol" />

            <BookPieChart seconds="30" symbol="@symbol" />
            <BookPieChart seconds="10" symbol="@symbol" />
            <BookPieChart seconds="2" symbol="@symbol" />

            <BookGaugeChart seconds="10" symbol="@symbol" />
        </div>*@

</div>

